.select-room{
    width: 96vw;
    padding-left: 2vw;
    padding-right: 2vw;
    background-color: #eff3f6;
    min-height: 100vh;
    overflow-x: hidden;
    .room-info-area{
        margin-top: 7vh;
    }
}