.notice{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    overflow-y: hidden;
    background-color: #eff3f6;
    justify-content: center;
    align-items: center;
    .content-area{
        .icon-wrap{
            width: 100px;
            height: 100px;
            transform: scale(2) translateY(-96px) translateX(110px);
        }
        .text-area{
            width: 70vw;
            height: 5vh;
            margin-bottom: 10vh;
            border-radius: 20px;
            .at-input{
                margin-left: 2vw;
            }
            text[selectable]{
                font-size: 90px;
                display: inline-block;
                margin-left: 59px;
                transform: translateY(-40px);
            }
        }
        .btn-area{
            width: 70vw;
            height: 5vh;
            .at-button--primary{
                margin-left: 2vw;;
            }
        }
    }
    
}